.destinationSection {
    margin-top: 50px;
    gap: 35px;
    padding: 9px 5.5%;;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoDestination h1 {
    line-height: 113.7%;
    font-size: 3.25rem;
    font-weight: 400;
}

.infoDestination {
    margin-top: 59px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.infoNumber p {
    width: 15%;
    color: #000000;
}

.infoNumber {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.spanNumber {
    font-size: 44px;
    color:#FBB667;
    font-weight: 700;
}

.btnBlue {
    cursor: pointer;
    font-weight: 700;
    color: white;
    border-radius: 100px;
    background-color: #0F214F;
    padding: 2.5% 4%;
    margin-top: 28px;
    font-size: 1.125rem;
}

@media screen and (max-width: 768px) {

    .destinationSection img {
        width: 90%;
        height: 87%;
    }

    .destinationSection {
        justify-content: center;
        flex-direction: column;
    }

    .infoNumber {
        display: none;
    }

    .btnBlue {
        font-size: 0.7rem;
    }

    .infoDestination h1 {
        font-size: 2rem;
        width: 80%;
    }

    .infoDestination p {
        width: 90%;
        font-size: 0.9rem;
    }
}