* {
    font-family: 'Nunito', sans-serif;
}

h2 {
    cursor: pointer;
    font-size: 32px;
}

.btnNav {
    width: 172px;
    height: 45px;
    box-shadow:  0px 5px 8px 0px rgba(251, 182, 103, 0.58);
}
