* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color:  #000000;
    background-color: #FFFFFF;
}

header {
    padding: 15px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

nav {
    display: flex;
    gap: 35px;
    align-items: center;
    font-weight: bold;
}

h1 {
    font-size: 48px;
}

button {
    padding: 9px 32px;
    background: rgba(126, 211, 33, 0.4);
    border-radius: 15px;
    font-weight: bold;
}

span {  
    color: #7ED321;
}

article {
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 1084px;
}

article div {
    flex-direction: column;
}

section {
    display: flex;
}

.section0 {
    flex-direction: column;
    align-items: center;
    gap: 14px;
    Width: 687px;   
}

section div {
    gap: 23px;
}

.blog {
    flex-direction: column;
    gap: 50px;
    padding: 30px 178px;
}

.quemsomos {
    justify-content: center;
}

p {
    font-style: normal;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

aside button {
    padding: 13px 55px;
    background: #7ED321;; 
}

main {
    display: flex;
    align-items: center;
}

div {
    display: flex;
} 

.index {
    display: flex;
    justify-content: center;
    font-size: 48px;
    gap: 29px;
}

#index {
    width: 371px;
}

aside button {
    padding: 13px 55px;
    background: #7ED321;; 
}

textarea, input {
    border: 1px solid #9F9F9F;
    border-radius: 7px;  
    width: 418px;
    padding: 12px;
}

#form {
    flex-direction: column;
    gap: 20px;
}

#contato {
    flex-direction: column;
    align-items: center;
}

#form p {
    width: 124px;
    text-align: center;
    font-size: 18px;
}

.enviar {
    justify-content: right;
}

.enviar button {
    background-color: #7ED321;
    padding: 10px 45px;
    color: #1C4701;
}

#botaoindex {
    color: #1C4701;
}

textarea {
    height: 160px;
}

.blog h2 {
    font-size: 32px;
}

#botaocontato {
    background: #7ED321;
}