* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    color:#000000;
}

#header{
    background-color: aquamarine;
    display: flex;
    height: 95px;
    box-sizing: border-box;
    padding: 1rem 3rem;
    align-items: center;
    justify-content: space-between;
}
#logo {
    display: flex;
    gap: 0.8rem;
}

#menu {     
    display: flex;
    list-style: none;
    gap: 5.3rem;
    align-items: center;
}

#btn-Mobile {
    display: none;
}

#redes3 {
    display: none;
}

h2 {
    margin-top: 0.75rem;
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 3.3rem; 
    font-weight: 400;
    font-style: bold;
}
  
button {
    background-color: #2D635E;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    color: #FFFFFF;
    font-size: 1rem;
    font-style: bold;
    cursor: pointer;
}

#btnContact {
    padding: 0.8rem 1.6rem;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
}

main button {
    margin-top: 1.8rem;
    width: 11.8rem;
    height: 3.3rem;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 23rem;
}

#home #samwayle {
    font-size: 1.3rem;
    font-weight: 400;
}

div {
    display: flex;
}


p {
    width: 17.8rem;
}



#samwayle{font-family: 'Cedarville Cursive', cursive; font-size: 2rem;}
#nav{
  font-family: 'Josefin Sans', sans-serif; font-size: 1rem; font-weight: 700
}
p {font-family: 'Alegreya Sans', sans-serif;}

@media (max-width: 768px) {
    #btn-Mobile {
        display: block;
        background-color: #FFFFFF;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 95px;
        z-index: 1000;
        visibility: hidden;
        height: 80%;
        right: 0;
        background-color: yellow;
        text-align: center;
    }

    #redes3{
        visibility: block;
        display: flex;
        background-color: chartreuse;
        align-items: center;
        justify-content: center;
        height: 125px;
        align-self:flex-end;
    }

    #redes3 img {
        height: 45px;
        width: 45px;
    }
  
    ul li a {
      font-size: 2rem;
    }

    #nav.active #menu {
        visibility: visible;
        height: (72.9% - 95px);
    }

    #nav.active 

}


